*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(246,248,249);
}

.box{
    width: 100%;
    height: 90px;
    background-color:white;
}

.box img{
    height: 5rem;
    padding-left: 25px;
    vertical-align: middle;
}

.box h1{
    font-size: 3rem;
    display: inline-block;
    line-height: 90px;
    vertical-align: middle;
}

.main-box{
    width: 80%;
    margin: 0 auto;
    margin-top: 80px;
    background-color: white;
}

.button-area{
    border-bottom: 1px solid lightgray;
}

.add-task{
    background-color: rgb(71,173,241);
    color: white;
    font-size: 0.9rem;
    padding: 0 15px;
    line-height: 2rem;
    text-align: center;
    border: 0;
    border-radius: 5px;
    margin: 10px 0 10px 70px
}

.add-section{
    background-color: whitesmoke;
    color:grey;
    font-size: 0.9rem;
    padding: 0 15px;
    line-height: 2rem;
    text-align: center;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 10px 0 10px 6px;
}

.menu-arrow{
    height: 1px;
    margin: 10px 0 10px 70px
}

.menu-title{
    display: inline-block;
    padding-left: 3px;
    font-weight: bold;
    margin-top: 30px;
}